<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combustíveis disponíveis</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="combustivel.js"></script>
</head>
<body>
    <div class="d-inline-flex" style="width: 100%;">
        <div class="flex-grow-1 p-2">
            <button type="button" class="btn btn-primary btn-lg" onclick="goBack()"><i class="fa fa-arrow-left"></i></button>
        </div>
        <div class="p-2 flex-fill">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Disponíveis
                </div>
                <ul class="list-group list-group-flush">
                </ul>
            </div>
        </div>
    </div>
</body>
</html>