body {
    background-color: #f5f5f5;
}

.cor-principal {
    background-color: #039298 !important;
    color: white !important;
}

.cor-principal-escura {
    background-color: #027f83 !important;
    color: white !important;
}

.flex-login {
    height: 85vh;
}
/* =============== FAZER REMEMBER - ME ============= */
.form-login {
    width: 500px;
    margin-left: 200px;
}

.logo-nav {
    max-height: 80px;
}

.linha {
    width: 2px;
    background-color: #aaaaaa;
    height: 90vh;
}

.esqueci-senha {
    color: black !important;
}

label {
    font-size: 24px;
}

button {
    box-shadow: none !important;
    font-size: 20px !important;
}

.nav-link {
    margin-right: 30px;
    color: white !important;
    font-weight: 600;
}

.dropdown-menu {
    margin-top: -5px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.tabela-itens {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 1660px;
    margin-left: auto;
    margin-right: auto;
}

.tabela-itens {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 724px) {
    .imagem-produto {
        width: 120px !important;
        height: 120px !important;
    }
    
    figure {
        width: 200px;
    }

    .produto {
        width: 200px;   
    }
  }

@media screen and (max-width: 504px) {
    .imagem-produto {
        width: 120px !important;
        height: 120px !important;
    }
    figure {
        width: 200px;
    }
    .produto {
        width: 200px;   
    }
  }

figure {
    margin-bottom: 0px;
}

.imagem-produto {
    margin-left: 50px;
    margin-right: 50px;
    width: 230px;
    height: 230px;
}

.nome-produto {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
}

.valor-produto {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 22px;
    font-weight: 600;
}

.produto {
    margin-bottom: 70px;
    max-width: 400px;
    flex-grow: 1;
    display: block;
}

.link-produto {
    color: black !important;
}